<li id="lesson-<%= lesson.id %>">
  <%= link_to gravatar_for(lesson.user, size: 50), lesson.user %>
  <span class="user"><%= link_to lesson.user.full_name, lesson.user %></span>
  <span class="content">Learned 20 words in Lesson "<%= lesson.category.name %>" - (<%= time_ago_in_words(lesson.created_at) %> ago)</span>
</li>